player-connection-mode=Listen
player-connection-guid=2716285581
player-connection-debug=1
player-connection-project-name=Wanna Exits
player-connection-ip=172.31.64.1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.43.116
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
